h1.slim 
{
    EditMenuTitle: Media Centre Styles;
    ChangeElementType: true;
    EditMenuName: Heading 1 slim;
}
h1 
{
    ChangeElementType: true;
    EditMenuName: Heading 1;
}
h2.slim 
{
    ChangeElementType: true;
    EditMenuName: Heading 2 slim;
}
h2.slim 
{
    ChangeElementType: true;
    EditMenuName: Heading 2;
}
h3 
{
    ChangeElementType: true;
    EditMenuName: Heading 3;
}
h4 
{
    ChangeElementType: true;
    EditMenuName: Heading 4;
}
h5 
{
    ChangeElementType: true;
    EditMenuName: Heading 5;
}

h5 
{
    ChangeElementType: true;
    EditMenuName: Heading 6;
}

p.lead 
{
    EditMenuName: Lead Text;
}

span.keyInfoSuperSize 
{
    ChangeElementType: true;
    EditMenuName: Key Info; 
}

.yellow
{
    EditMenuName: Yellow; 
    color: #FEB63F;
}

.light-blue 
{
    EditMenuName: Light blue; 
    color:#7EB0E3;
}

.dark-blue 
{
    EditMenuName: Dark blue;
    color:#013281
}

ul.social {
    EditMenuName: No-bullet List;
    list-style-type: none;
    content: none; 
}

